
body{
  background: #bec5b0; 
}

.top{

padding-bottom: 8px
}
.top-contents1{
    width: 95%;
    display: flex;
    margin-left:  2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    

}
.top-contents2{
  width: 95%;
  display: flex;
  margin-left:  2.5%;
  margin-right: 2.5%;
  margin-top: 20px;
}

.inputs{
  width:90%;
  margin-left: 5%;
  border-radius: 5px;
}

.buttons{
  
  height: 100%;
  width: 100%;
  margin-left: 0px;
  background: yellow;
}


#btn2{
  border: none;
}

#btn2:active{
  border: none;
}

.mytable{
  display: block;
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.table{
  width: 100%;
 font-size: 0.63em;
}

table, th, td {
  border: 2px solid black;
}
.table .thead-dark th { 
  color: rgb(0, 0, 0);
  background-color: gold;
  border-color: #000000;
}
tr td button{
  width: 100%;
}

.filters{
  background: yellow;
    width: 50%;
    margin-left: 8px;
    margin-top: 8px;
    border: 1px solid;
    border-color: black;
    padding: 4px;
    border-radius: 5px;

}
.filters .filter-title{
    text-align: center;
    display: flow-root;

}
.dropdown {
  display: inline-block;
  
  height: 28px;
  width: 100%;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  line-height: 14px;
  font-size: 16px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0) !important; 
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444; 
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}


.saha{
  width: 95%;
  display: inline-block;
  margin-left:  2.5%;
  margin-right: 2.5%;
  border-radius: 5px;
}
.formation{ 
  width: 100%;
}
.bottompart{
  width: 100%;
  display: flex;
}
.bottompart .filters{
  background-color: ivory;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5px;
}

.bottompart .bottomLeft{
  display: block;
  width: 60%;
}
.bottompart .bottomRight{
  display: block;
  width: 35%;
}
.bottomRight{
  margin-top: 8px;
}
.pl{
  border: 1px solid;
  border-color: black;
  display: flex;
}
.plp,.delp{
  margin: 2px;
}
.delp{
  border: 1px solid;
  border-color: black;
  color: red;
}



#chem ,#ovr,#midspace{
 
  border-radius: 50%;
  
  height: 18px;
  padding: 4px;

  background: #000;
  border: 2px solid #666;
  color: #fff;
  text-align: center;

  font: 16px Arial, sans-serif;

  margin-top: 3%;
  margin-bottom: 3%;

}
#midspace{
  width: 100% !important;
  visibility: hidden;
}
.ovrAndChe{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  padding: 4px;
  display: block;
}
.ovrchemtitle{
  text-align: center;
  font-size: 0.75em;
  font-family: cursive;
  display: block;
}
.circularvalue{
  display: flex;
}

